# dependencies
node_modules/

# environment variables
.env
.env.example

# uploads
uploads/

# logs
npm-debug.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# coverage
coverage/